.box{
  p{
    flex: 2;
    margin-left: 3%;
  }
}
.msgBox{
  display: flex;
  position:relative;
  border: 1px solid #E4E4E4;
  border-radius:3px;
  margin-top:5px;
  &:last-child{
  }
  p{
    padding:20px;
  }
}
.username{
  margin-right: 10px;
  color:#78BDB8;
  width:20%;
  padding:20px;
  padding-right:5px;
}
.message {
    width: 80.9%;
    display: inline-block;
    word-wrap: break-word;
    color:#646C79;
}
button.delete-post {
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;
    padding:20px;
    text-align: right;
    font-size: 12px;
    color: #B92828;
    transition:.2s all;
    // background:rgba(0,0,0,0.03);
    &:hover{
      color:#fff;
      background:#B92828;
    }
}
.messageContainer{
  max-height: 300px;
  overflow: scroll;
  box-shadow: inset 0px 5px 4px -5px #B3B2B2;
  border-top: 1px solid gainsboro;
  padding:0 20px;

}
// .overflow{
//   box-shadow: inset 0px -6px 10px -5px #E0E0E0;
// }
