.submitMsg{
  border-top: 1px solid #E2E2E2;
}

input{
  font-size: 17px;
  padding: 2%;
  border-radius: 1%;
  border: none;
  width: 85.48%;;
}
.submit{
  border: none;
  background: none;
  width: 10%;
  i{
    font-size: 22px;
  }
}
