.submitMsg{
  // padding:20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  margin-top:5px;
}
input{
  font-size: 17px;
  padding: 20px;
  // border-radius: 3px;
  border: none;
  width: 100%;
  outline:none;
  background:none;
  // background: rgba(0,0,0,.1);
  color:#646C79;
  transition:.2s all;
  &:focus {
    outline:none;
    // box-shadow: inset 0px 0px 3px 0px #ECECEC;
    // background: #FFFFFF;
  }
}
input[type="text"]::-webkit-input-placeholder{
  color:#BABDC1;
}
.submit{
  border: none;
  background: none;
  width: 10%;
  i{
    font-size: 22px;
  }
}
button.submit {
    display: none;
}
