.box{
  .messageContainer{
    background-color: white;
    display: flex;
    border-bottom: 2px solid $lightGrey;
    padding: 2%;
    button{
    }
    p{
      flex: 2;
      margin-left: 3%;
    }
  }
}
.msgBox{
  display: flex;
  position:relative;
  padding:20px 0;
  span {
    margin-right: 10px;
    color:black;
  }
}
button.delete-post {
    position: absolute;
    right: 10px;
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;
}
