*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #F7F7F7;
  font-family: 'Source Code Pro', sans-serif ;
}
#main{
  width: 65%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top:20px;
  color:white;
  border: 1px solid rgba(0,0,0,.1);
  background:white;
  // border-radius:5px;
  // box-shadow: 0px 4px 10px -5px #E0E0E0;
}

.userBox{
  display: flex;
  justify-content: space-between;
  padding:20px;
  background:rgba(255,255,255,0.1);
  color:#646C79;
}
h1{
font-size: 36px;
flex: 1;
margin:0;
padding:0;
color:#646C79;
}
#usersName{
  align-self: center;
}
.signOut{
  background-color: rgba(0,0,0,0);
  border: none;
  margin-left: 10px;
  outline:none;
  color:rgba(0,0,0,0.5);
  transition:.2s all;
  width:5%;
  border-radius:100%;
  &:hover{
    color:#B92828;
    // color:rgba(0,0,0,0.5);
  }
}
