* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #F5F5F5;
  font-family: "Raleway", sans-serif;
  color: #E5D6D6; }

#main {
  width: 65%;
  display: flex;
  flex-flow: column;
  background: white;
  margin: 0 auto; }

.userBox {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px; }

h1 {
  font-size: 45px;
  flex: 1; }

#usersName {
  align-self: center; }

.signOut {
  background-color: white;
  border: none; }

.box .messageContainer {
  background-color: white;
  display: flex;
  border-bottom: 2px solid #F5F5F5;
  padding: 2%; }
  .box .messageContainer p {
    flex: 2;
    margin-left: 3%; }

.msgBox {
  display: flex;
  position: relative;
  padding: 20px 0; }
  .msgBox span {
    margin-right: 10px;
    color: black; }

button.delete-post {
  position: absolute;
  right: 10px;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none; }

.submitMsg {
  border-top: 1px solid #E2E2E2; }

input {
  font-size: 17px;
  padding: 2%;
  border-radius: 1%;
  border: none;
  width: 100%;
  outline: none; }

.submit {
  border: none;
  background: none;
  width: 10%; }
  .submit i {
    font-size: 22px; }

button.submit {
  display: none; }

.messageContainer {
  padding: 20px; }
