* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #F7F7F7;
  font-family: 'Source Code Pro', sans-serif; }

#main {
  width: 65%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 4px 10px -5px #E0E0E0; }

.userBox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: #646C79; }

h1 {
  font-size: 45px;
  flex: 1;
  margin: 0;
  padding: 0;
  color: #646C79; }

#usersName {
  align-self: center; }

.signOut {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  outline: none;
  color: #646C79;
  transition: .2s all; }
  .signOut:hover {
    color: #B92828; }

.box p {
  flex: 2;
  margin-left: 3%; }

.msgBox {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .msgBox p {
    padding: 20px; }

.username {
  margin-right: 10px;
  color: #3465B5;
  width: inherit;
  padding: 20px;
  padding-right: 5px; }

.message {
  width: 80.9%;
  display: inline-block;
  word-wrap: break-word;
  color: #646C79; }

button.delete-post {
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 20px;
  text-align: right;
  font-size: 12px;
  color: #B92828;
  transition: .2s all; }
  button.delete-post:hover {
    color: #fff;
    background: #B92828; }

.messageContainer {
  max-height: 300px;
  overflow: scroll;
  background: white;
  box-shadow: inset 0px -6px 10px -5px #E0E0E0; }

.submitMsg {
  padding: 20px; }

input {
  font-size: 17px;
  padding: 2%;
  border-radius: 3px;
  border: 1px solid #E0E1E2;
  width: 100%;
  outline: none;
  background: none;
  color: #646C79;
  transition: .2s all; }
  input:focus {
    box-shadow: inset 0px 0px 3px 0px #ECECEC;
    background: #FFFFFF; }

input[type="text"]::-webkit-input-placeholder {
  color: #646C79; }

.submit {
  border: none;
  background: none;
  width: 10%; }
  .submit i {
    font-size: 22px; }

button.submit {
  display: none; }
