* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #F7F7F7;
  font-family: 'Source Code Pro', sans-serif; }

#main {
  width: 65%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white; }

.userBox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: #646C79; }

h1 {
  font-size: 36px;
  flex: 1;
  margin: 0;
  padding: 0;
  color: #646C79; }

#usersName {
  align-self: center; }

.signOut {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  transition: .2s all;
  width: 5%;
  border-radius: 100%; }
  .signOut:hover {
    color: #B92828; }

.box p {
  flex: 2;
  margin-left: 3%; }

.msgBox {
  display: flex;
  position: relative;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  margin-top: 5px; }
  .msgBox p {
    padding: 20px; }

.username {
  margin-right: 10px;
  color: #78BDB8;
  width: 20%;
  padding: 20px;
  padding-right: 5px; }

.message {
  width: 80.9%;
  display: inline-block;
  word-wrap: break-word;
  color: #646C79; }

button.delete-post {
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 20px;
  text-align: right;
  font-size: 12px;
  color: #B92828;
  transition: .2s all; }
  button.delete-post:hover {
    color: #fff;
    background: #B92828; }

.messageContainer {
  max-height: 300px;
  overflow: scroll;
  box-shadow: inset 0px 5px 4px -5px #B3B2B2;
  border-top: 1px solid gainsboro;
  padding: 0 20px; }

.submitMsg {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  margin-top: 5px; }

input {
  font-size: 17px;
  padding: 20px;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  color: #646C79;
  transition: .2s all; }
  input:focus {
    outline: none; }

input[type="text"]::-webkit-input-placeholder {
  color: #BABDC1; }

.submit {
  border: none;
  background: none;
  width: 10%; }
  .submit i {
    font-size: 22px; }

button.submit {
  display: none; }
